#{form @editImpl(), enctype:'multipart/form-data', class: 'well'}
	<legend> Add news </legend>
	<table width="100%">
		<tr>
			<td>
				Title
			</td>
			<td>
				<input type="hidden" name="newsId"  value="${news.id}"/>
				<input type="text" name="title" value="${news.title}"/>
			</td>
		</tr>
		<tr>
			<td>
				Date
			</td>
			<td>
				<input type="text" name="date" valid="date" value="${news.getDate(news.date)}"/>
			</td>
		</tr>
		<tr>
			<td>
				Picture
			</td>
			<td>
				<input type="file" name="picture" />
			</td>
		</tr>
		<tr>
			<td>
				Link
			</td>
			<td>
				<input type="text" name="link" value="${news.link}"/>
			</td>
		</tr>
		<tr>
			<td>
				Description
			</td>
			<td>
				<textarea cols=50 id="description" name="description">${news.description}</textarea>
			</td>
		</tr>
		<tfoot>
			<tr>
				<td>
					&nbsp;
				</td>
				<td align="right">
					<button type="submit" class="btn btn-danger">Update</button>
				</td>
			</tr>
		</tfoot>
	</table>
#{/form}
<script type="text/javascript">
<!--
	$(function(){
		$('#description').markItUp(mySettings);	
	});
	
	$('input[valid="date"]').each(function(){
	    var $this =$(this);
	    $this.datepicker({
		    dateFormat: 'yy-mm-dd',
		    defaultDate: 0,
		    firstDay: 1
		});
	});
-->	
</script>