#{if newses }
	#{list newses, as: 'news'}
		<tr>
			<td>
				${news_index}
			</td>
			<td>
				<a href="javascript:;" onclick="Edit(${news.id});" title="edit">
					<i class="icon-edit icon-large"></i>
				</a>
				<a href="javascript:;" onclick="Delete(${news.id});" title="delete">
					<i class="icon-trash icon-large"></i>
				</a>
			</td>
			<td>
				${news.title}
			</td>
			<td>
				${news.description}
			</td>
			<td>
				<img src="@{getPicture(news.id)}" width="50" height="25"/>
			</td>
			<td>
				${news.link}
			</td>
			<td>
				${news.getDate(news.date)}
			</td>
		</tr>
	#{/list}
#{/if}

<script type="text/javascript">
<!--
	$(function(){
	    $('#page').empty();
	    for (var i=1; i<=parseInt("${num_pages}", 10); i++)     
			$('#page').append('<option value="'+ i +'">' + i + '</option>');
		if (parseInt("${num_pages}", 10) == 0) $('#page').html('<option value="1">1</option>');
		$('#page').val("${page}");
	});
	
	Delete = function(newsId){
		if(confirm("Are you sure to delete this news?")){
			$.post('@{ delete }', {newsId:newsId}, function(){
				var page = $("#page :selected").val();
		        var page_size = $("#page-size :selected").val();
		        $.post('@{ list }', { page_size:page_size, page:page } ,function(response) {
		        	$('#list').empty();
		        	$('#list').html(response);
		        });
			});
		}
	}
	Edit = function(newsId){
		$.colorbox({
			href: '@{ edit }',
			data: {newsId: newsId},
			width: "90%",
			height: "100%",
			onCleanup: function(){
			}
		})
	}
-->
</script>