#{extends 'admin/generic.html' /}

<a href="javascript:;" onclick="create();" class="btn btn-success">Create</a>

<br />
<br />

<table class="table table-bordered" style="width: 85%!important;" id="pollTable">
	<thead>
		<tr>
			<th width="5%">
				&nbsp;
			</th>
			<th width="5%">
				№
			</th>
			<th>
				<a href="javascript:;" onclick="sorting(this);" parameter="category.name">Category name</a>
			</th>
			<th>
				<a href="javascript:;" onclick="sorting(this);" parameter="name">Name</a>
			</th>
			<th>
				<a href="javascript:;" onclick="sorting(this);" parameter="description">Description</a>
			</th>
		</tr>
		<tr>
			<th width="5%">
				&nbsp;
			</th>
			<th width="5%">
				&nbsp;
			</th>
			<th>
				<input type="text" name="filters" parameter="category.name" placeholder="Category" style="height:28px; width: 100px;"/>
			</th>
			<th>
				<input type="text" name="filters" parameter="name" placeholder="Name" style="height:28px; width: 100px;"/>
			</th>
			<th>
				<input type="text" name="filters" parameter="description" placeholder="Description" style="height:28px; width: 100px;"/>
			</th>
		</tr>
	</thead>
	<tbody id="polls">
	</tbody>
</table>
<table width="85%" >
   <tr>
      <td style="font-size:13px;">
           Page size:
	       <select id="page-size" style="width:50px; font-size:12px;">
	               <option value="25">25</option>
	               <option value="50">50</option>
	               <option value="75">75</option>
	               <option value="100">100</option>
	       </select>
      </td>
      <td align="right">
            Page: 
	        <select id="page" style="width: 50px; font-size:12px;">
	          <option value="1">1</option>
	        </select>   
      </td>
   </tr>
</table>

<script type="text/javascript">
<!--
	load();
	
	function load(){
		var page = $("#page :selected").val();
        var page_size = $("#page-size :selected").val();
        $.post('@{ main.Poll.polls }', { page_size:page_size, page:page } ,function(response) {
        	$('#polls').empty();
        	$('#polls').html(response);
        });
	}
	$("#page-size").live("change", function(){
        var $this = $(this);
        var page = $("#page :selected").val();
        $.post('@{ main.Poll.polls }', {page_size:$this.val(), page:page} ,function(response) {
        	$('#polls').empty();
        	$('#polls').html(response);
        });
	});
	
	$("#page").live("change", function(){
        var $this = $(this);
        var page_size = $("#page-size :selected").val();
        $.post('@{ main.Poll.polls }', {page_size:page_size, page:$this.val()} ,function(response) {
        	$('#polls').empty();
        	$('#polls').html(response);
        });
	})
	$('#pollTable input[name="filters"]').each(function()
    {
        var $this = $(this);
        $this.keyup(function(event){
           if(event.keyCode == 13)
           {
                   var queries = [];
                   var parameters = [];
                   $('#pollTable input[name="filters"]').each(function() {
                           if($(this).val() != ""){
                                   queries.push($(this).val());
                                   parameters.push($(this).attr("parameter"));
                           }
                   });
                   var pollIds = [];
                   var page_size = $("#page-size :selected").val();
                   var page = $("#page :selected").val();
                   $.post('@{ main.Poll.search }', { queries: queries, parameters:parameters}, function(response){
                           for(var i=0; i<response.length; i++) pollIds.push(response[i].id);
                           $.post('@{ main.Poll.polls() }', { pollIds: pollIds, page_size:page_size, page:page },function(response) {
                               $('#polls').empty();    
                        	   $('#polls').html(response);
                           });
                   }, 'json');
           }
        });
    });  
	var click = 0;
    function sorting(elem){ 
        click++;
        var parameter = $(elem).attr("parameter");
        if(click % 2 == 0){
                if($(elem).parent().find('i[class="icon-sort-up"]')[0]) $(elem).parent().find('i[class="icon-sort-up"]').remove();
                $(elem).append('<i class="icon-sort-down"></i>');
        }
        else {
                if($(elem).parent().find('i[class="icon-sort-down"]')[0]) $(elem).parent().find('i[class="icon-sort-down"]').remove();
                $(elem).append('<i class="icon-sort-up"></i>');
        }
        var pollIds = [];
        var page_size = $("#page-size :selected").val();
        var page =  $('#page :selected').val();
        
        $.post('@{ main.Poll.sorting }', {parameter: parameter, click:click} ,function(response){
             for(var i=0; i<response.length; i++) pollIds.push(response[i].id);
             $.post('@{ main.Poll.polls() }', { pollIds: pollIds, page_size:page_size, page:page },function(response) {
                 $('#polls').empty();    
            	 $('#polls').html(response);
             });
        }, 'json');
    }
	create = function(){
		$.colorbox({
			href: '@{ add }',
			width: "45%",
			height: "90%",
			onCleanup: function(){
				var page = $("#page :selected").val();
		        var page_size = $("#page-size :selected").val();
		        $.post('@{ main.Poll.polls }', { page_size:page_size, page:page } ,function(response) {
		        	$('#polls').empty();
		        	$('#polls').html(response);
		        });
			}
		})
	}
-->
</script>