#{form action:@list().remove('page'), method:'GET'}
    #{if _fields}
        <input type="hidden" name="searchFields" value="${_fields.toString().substring(1, _fields.toString().length()-1).replace(',', '')}" style="height:28px" />
    #{/if}
    <input type="text" name="search" value="${params.search?.escape()?.raw()}" style="height:28px" class="search-query span3" placeholder="Хайлт.." />
    #{if _caller.params.search}
        (<a href="@{list()}">&{'crud.list.totalSize', _caller.totalCount}</a>)
    #{/if}
#{/form}
